.nomessobre{
    box-shadow: 0 3px 15px 15px rgba(255, 255, 255, 0.2);
    width: 250px;
    margin-top: 250px;
    border-radius: 15px;
    border: 6px solid #01130d;

    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.FE{
    width: 250px;
    border:1px solid #ccc;
    margin-top: 15px;
    box-shadow: 0 3px 15px 15px rgba(255, 255, 255, 0.2);   
}
body{
    background-image: url(preto.jpg);
    background-size: cover;
}
textarea{
    width: 165px;
}